# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temp files
*.tmp
*.gif
*.log